<div class="centered">

  <div *ngIf="!ready"><h5>Please be patient while the data loads. The search button will activate when the site is ready.</h5></div>
  


    <label class="userInput"><b>Category Name:</b>
    <input type="text" [value]="searchTerm" (input) = "searchTerm = $event.target.value" style = "width: 100%" onfocus="this.value=''" >
    </label>
    
    

  <button class="searchButton" (click)="filterCategories()" [disabled] = "!ready">
    Search
  </button>
  <table style="width:100%">

    <!-- <th> -->
      <div *ngIf = "searchTerm != '' && filteredCategories != '' ">
      <h4 >{{rows}} Categories with: {{searchTerm}}</h4> 
      <table style = "width: 100%">
        
          <th>Category</th>
          <th>Clues Count</th>

      <tr *ngFor="let categoryl of filteredCategories"><a routerLink="/app/clue-page">
        <td>{{categoryl.title}}</td></a>
        <td>{{categoryl.clues_count}}</td> 
      </tr>
    </table>
      </div>
  </table>
</div>
