<div id="container" >
  <h1>Welcome Jeopardy Fans!</h1>
  <p>On this site, you can search for any Jeopardy categories you want! All questions that have ever been asked are available here. This is a great way to prepare for competing on the show, learning new and interesting facts about a variety of subjects, and help you put on the perfect trivia night with your friends and family!</p>
  <p>There are several ways to discover great questions on this site. On the Popular tab, you can search for questions by category. On the Random tab, you can test your knowledge by getting random Jeopardy! questions. On the About tab, you can learn about the website's functionality and the team that made it.</p>
  <app-data></app-data>
</div>